ul.project-list {
    list-style-type: none;
    margin: 5;
    padding: 1;
    overflow: hidden;
    background-color: #1B1E22;
}

li.project-list {
    /* float: left; */
    /* padding-bottom: 1; */
    /* margin-bottom: 1; */
    border-bottom: 1px solid #bbb;
}

li.project-list h2 {
    padding: 0;
}

li.project-list h2 a:link {
    padding: 0;
    color: #DAD4D2;
}

dl, dt, dd {
    padding: 0;
    color: #DAD4D2;
}