ul.project-list {
    list-style-type: none;
    margin: 5;
    padding: 0;
    overflow: hidden;
    background-color: #121417;
}

li.project-list {
    /* float: left; */
    border-bottom: 1px solid #bbb;
}