body {
    background-color: #1F1F1F;
}

/* html {
    background: url("images/DiamondTread Rubber Stair Treads Slate Grey 600.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
} */

h1 {
    color: #DAD4D2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #121417;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #1b1e22;
}

.active {
    background-color: #4B034F;
}

* {
    font-family: sans-serif;
}

#settings {
    display: block;
    text-align: center
}

#paint {
    border: 1px solid black;
    background: #333333;
    margin-left: auto;
    margin-right: auto;
    display: block;
}